@font-face {
    font-family: 'Vision Thin';
    font-style: normal;
    font-weight: normal;
    src: local('Vision Thin'), url('font/Vision-Thin.woff') format('woff');
    }
 @font-face {
        font-family: 'Vision Black';
        font-style: normal;
        font-weight: normal;
        src: local('Vision Black'), url('font/Vision-Black.woff') format('woff');
    }
*{
    margin: 0;
    padding: 0;
    font-family: a-otf-jun-pro, sans-serif;
    font-weight: 300;
    font-style: normal;
}
.wrap{
    display: none;
    width: 100%;
    overflow: hidden;
    background-color: #bec5cb;
}
.sp{
    display: none;
}
#loading{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}
.loading_animation{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #616b82;
}
.circle_wrapper{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 4;
}
.loading_circle{
    background-color: #616b82;
    width: 25vw;
    height: 25vw;
    border-radius: 100%;
    animation: mikazuki 5s linear infinite;
    transform-origin: center center;
}
.loading_animation p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 1vw;
    font-family: "Vision Thin";
    letter-spacing: 4px;
    text-shadow: #fff 1px 0 10px;
}

@keyframes mikazuki { 
    0% { 
     transform: rotate(35deg) translateX(-50vh);
    }
    100% {  
      transform: rotate(145deg) translateX(-50vh);
    }
  }

.loading_animation img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 25vw;
}
header{
    width: 100%;
    height: 100vh;
    position: relative;
    animation: tikatika 3.5s ease 0s  alternate none running;
}

@keyframes tikatika{
    0% {
        background-color: #616b82;
    }
    70%{
        background-color: #616b82;      
    }
    100%{
        background-color: #bec5cb;        
    }

}
header *{
    position: absolute;
    color: #fff;
    font-size: 2vw;
    font-family: "Vision Thin";
    letter-spacing: 4px;
    text-shadow: #fff 1px 0 10px;

}

.line{
    height: 21vw;
}
header img:nth-child(1){
    left: 4.5vw;
}
header img:nth-child(2){ 
    bottom: 0;
    right: 4.5vw;
}
header img:nth-child(3){
    width: 15.5vw;
    top: 20%;
    right: 3.5vw;
}
header img:nth-child(4){
    width: 60vw;
    bottom: -45vw;
    left: -14vw;
}
header p:nth-child(5){
    top: 20%;
    left:9vw;
}
header p:nth-child(6){
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 13.5vw;
    font-family: "Vision Black";
    letter-spacing: 0px;
    animation: tikatikatext 3s ease 0s  alternate none running;
}

@keyframes tikatikatext{
    0%{
        color: rgb(255, 255, 255, 0.7);
        text-shadow: none;
     }
    9%{
        color: rgb(255, 255, 255, 0.7);
        text-shadow: none;
     }
    10% {
        color: rgb(255, 255, 255, 0.7);
        text-shadow: rgb(255, 255, 255, 0.3) 1px 0 30px;
    }
    20%{
        color: rgb(255, 255, 255, 0.7);
        text-shadow: none;
    }
    29%{
        color: rgb(255, 255, 255, 0.7);
        text-shadow: none;
     }
 
    30% {
        color: rgb(255, 255, 255, 0.7);
        text-shadow: rgb(255, 255, 255, 0.5) 1px 0 30px;
    }

    40%{
        color: rgb(255, 255, 255, 0.7);
        text-shadow: none;
    }
    80%{
        color: rgba(255, 255, 255, 1);
        text-shadow: #fff 1px 0 10px;
    }
}
header p:nth-child(7){
    bottom: 20%;
    right: 9vw;
}
.textanimation{
    animation: tikatikatext2 3s ease 0s  alternate none running;   
}
@keyframes tikatikatext2{
    0% {
        opacity: 0;
    }
    70%{
        opacity: 0;      
    }
    100%{
        opacity: 1;       
    }
}
.profile{
    height: 50vw;
    width: 100vw;
    position: relative;
    z-index: 1;
}
.profile *{
    position: absolute;
}
.circle{
    top: 4vw;
    left:34vw;
    width: 16vw;
    height: 16vw;
    border-radius: 100%;
    background-color:#bec5cb;
    z-index: 4;
}
.profile .text{
    top: 11vw;
    left: 29vw;
}
.text{
    width: 60vw;
    height: 30vw;
    min-height: 180px;
    color: #bec5cb;
    background-color: #fff;
    border-radius:220px;
    letter-spacing: 4px;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text p{
    font-size: 1.4vw;
    letter-spacing: 1px;
}
h2{
    top: 10vw;
    left:31vw;
    color: #fff;
    font-size: 3vw;
    letter-spacing: 4px;
    text-shadow: #fff 1px 0 10px;
    font-family: "Vision Thin";
    z-index: 100;
}
.profile img{
    left: 4.5vw;
    bottom: -20vw
}
.works{
    height: 120vw;
}
.works_sub_container .circle{
    top: 6vw;
    left:55vw;
    height: 11vw;
    width:11vw;
}
.works_sub_container .img_circle{
    width: 30vw;
    left: 60vw;
}

.works_sub_container{
    height: 30vw;
    position: relative;
}
.works_sub_container h2{
    top: 11vw;
    left:60vw;
}
.works_sub_container .text{
    top: 13vw;
    left: 18vw;
}
.works_sub_container :nth-child(n){
    position: absolute;
}
.works_sub_container .text {
    width: 50vw;
    font-family: "Vision thin";
}

.works_sub_container .text p{
    font-size: 1.4vw;
}
.works .line{
    right: 4.5vw;
    top:30vw
}
.works_main_container{
    position: relative;
    left: 10vw;
}
.works_main{
    position: absolute;
}
.works_main_container div:nth-child(1){
    left: 0vw;
}
.works_main_container div:nth-child(2){
    top: 10vw;
    left: 25vw;
}
.works_main_container div:nth-child(3){
    top: 20vw;
    left: 50vw;
}
.works_contents{
    position:relative;
}
.works_contents *{
    position:absolute;
}
.works_detail{
    margin: 0.125vw;
    width: 19.75vw;
}
.works_cover{
    width: 20vw;
    height: 20vw;
    color: #fff;
    font-family: "Vision Thin";
    line-height: 20vw;
    font-size: 1.2vw;
    letter-spacing: 4px;
    text-shadow: #fff 1px 0 10px;
    text-align: center;
    background-image: url(img/circle.png);
    background-size: cover;
}
.works_main .line{
    margin-top: 20vw;
}
footer{
    color: #fff;
    font-size: 1.4vw;
    font-family: "Vision Thin";
    letter-spacing: 4px;
    text-shadow: #fff 1px 0 10px;
    text-align: center;
    padding: 20px 10px;
    position: relative;
}
footer img{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 0;
    width: 100vw;
}
footer p{
    position: relative;
    z-index: 2;
}
.fadeIn{
  opacity: 0;
}
.fast{
    transition: 1s ease-in-out 0s;
}
.normal{
    transition: 1s ease-in-out 0.5s;
}
.slow{
    transition: 1s ease-in-out 1s;
}
.fadeIn.is-show {
  opacity: 1;
}

@media screen and (max-width: 480px) {
    .sp{
        display: block;
    }

    .pc{
        display: none;
    }
    .loading_circle{
        width: 40vw;
        height: 40vw;
    }
    .loading_animation img{
        width:40vw;
    }
    .loading_animation p{    
        font-size: 4vw;  
        color:#bec5cb
    }
    .line{
        height: 25vh;
    }

    header *{
        font-size: 3vw;
    }

    header img:nth-child(1){
        top: 3vw;
        left: -3vw;
    }
    header img:nth-child(2){ 
        bottom: 3vw;
        right: -3vw;
    }
    header img:nth-child(3){
        width: 20vw;
        top: 41%;
        right: 3.5vw;
    }
    header img:nth-child(4){
        width: 110vw;
        bottom: -45vw;
        left: -45vw;
    }
    header p:nth-child(5){
        top: 4.8%;
        left:9vw;
    }
    header p:nth-child(6){
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 13.5vw;
        font-family: "Vision Black";
        letter-spacing: 0px;
    }
    header p:nth-child(7){
        bottom: 4.8%;
        right: 9vw;
    }
    
    .profile{
        height:130vw;
    }
    .circle{
        top: 5vw;
        left:28vw;
        width: 35vw;
        height: 35vw;
    }
    .profile .text{
        top: 28vw;
        left: 25vw;
    }
    .text{
        width: 65vw;
        height: 30vw;
        padding: 25px 40px;
        border-radius: 85px;
    }
    .text p{
        font-size: 13.5px;
        letter-spacing: 1px;
    }
    h2{
        top: 23vw;
        left:18vw;
        font-size: 8vw;
    }
    .profile .line{
        left: -3vw;
        bottom: -10vw
    }
    .works{
        height: 200vw;
    }
    .works_sub_container .circle{
        top: 8vw;
        left:35vw;
        height: 22vw;
        width:22vw;
    }
    .works_sub_container .img_circle{
        top: -15vw;
        left: 43vw;
        width: 55vw;
    }
    
    .works_sub_container{
        height: 30vw;
    }
    .works_sub_container h2{
        top: 14vw;
        left:50vw;
    }
    .works_sub_container .text{
        top: 19vw;
        left: 2vw;
        width: 65vw;
        height: 30vw;
        padding: 0 20px;
        border-radius: 70px;
    }
    .works_sub_container .text p{
        font-size: 13px;
        letter-spacing: 4px;
    }
    .works .line{
        right: -3vw;
        top:35vw
    }
    .works_main_container{
        top: 30vw;
        left: 4vw;
    }
    .works_main_container div:nth-child(1){
        left: 0vw;
    }
    .works_main_container div:nth-child(2){
        top: 20vw;
        left: 30vw;
    }
    .works_main_container div:nth-child(3){
        top: 40vw;
        left: 60vw;
    }
    .works_detail{
        margin: 0.5vw;
        width: 31vw;
    }
    .works_cover{
        width: 32vw;
        height: 32vw;
        font-size: 13px;
        letter-spacing: 2px;
        line-height: 32vw;
        background-image: url(img/circle_sp.png);
    }
    .works_main .line{
        margin-top: 28vw;
    }
    footer{
        font-size: 15px;
        padding: 10px 5px;
    }
    footer img{
        width: 140vw;
    }
}